<div id="homeContainer">
  <div class="whiteBorderGlassBox">
    <div class="homeHeadContainer">

      <div class="row" >
        <div class="col-md-auto">
          <div class="avatarFrameOnline">
            <img src="assets/img/generic_avatar.png" id="homeAvatarPicture" />
          </div>
        </div>

        <div class="col" *ngIf="user">
          <b>{{user.nick}}</b>
          <div>
            <span>{{user.status}}</span>
            <br />
            <span>
              < Escribe un mensaje >
            </span>
            <br />
            <a (click)="logout()">Cerrar sesi&oacute;n</a>
          </div>
        </div>

      </div>

    </div>
  </div>

  <div class="whiteContainerPadded marto15">

    <div class="row">
      <div class="col">
        <input type="text" class="form-control" placeholder="Busca tu amigo" [(ngModel)]="query" />
      </div>
      <div class="col-md-auto">
        <img src="/assets/img/logo_live_add.png" alt="" class="icon">
      </div>
    </div>


    <hr />
    <b *ngIf="friends">Amigos ({{friends.length}}/ {{friends.length}})</b>

    <div *ngFor="let  user of  friends | search: query; let i = index "
    class="disblo marbo5">
      <span routerLink='/conversation/{{user.uid}}'>
        <img src="/assets/img/logo_live_online.png" class="icon">
        <b>{{user.nick}}</b> - {{user.subnick || 'No sub-nick'}}
        <small>{{user.email}}</small>
      </span>
    </div>


  </div>
</div>
